In [176]:
import pandas as pd
import numpy as np

# Crie um DataFrame a partir da tabela acima;

In [72]:
linhas = ['Fumagalli', 'Carlinhos Bala', 'Leonardo', 'Neto Baiano', 'Diego Souza']
colunas = ['Posição', 'Camisa', 'Gols', 'Assistências']
branco = np.NaN


tabela = pd.Series(['M', branco, 20, 15, 'A', 11, 15, 5, 'A', branco, 40, 30, 'A', 9, 10, 3, branco, 10, 35, 25])
tabela = np.array(tabela).reshape(5,4)
tabela

df = pd.DataFrame(tabela, index=linhas, columns=colunas)
df

               Posição Camisa Gols Assistências
Fumagalli            M    NaN   20           15
Carlinhos Bala       A     11   15            5
Leonardo             A    NaN   40           30
Neto Baiano          A      9   10            3
Diego Souza        NaN     10   35           25

In [178]:
media = df['Gols']
media = media.mean()
print(f"Essa foi a média de gols marcados desses jogadores:\n {media}")

Essa foi a média de gols marcados desses jogadores:
 24.0

In [180]:
desvioPadrao = df['Assistências'].std()
print(f'Desvio padrão: \n{desvioPadrao:.2f}')

Desvio padrão:
11.91

# Substitua as posições ausentes por NC (Não consta);

In [90]:
df['Posição'] = df['Posição'].fillna('NC')
df

               Posição Camisa Gols Assistências
Fumagalli            M    NaN   20           15
Carlinhos Bala       A     11   15            5
Leonardo             A    NaN   40           30
Neto Baiano          A      9   10            3
Diego Souza         NC     10   35           25

# Substitua os números de camisa ausentes por SN (Sem número);

In [92]:
df['Camisa'] = df['Camisa'].fillna('SN')
df

               Posição Camisa Gols Assistências
Fumagalli            M     SN   20           15
Carlinhos Bala       A     11   15            5
Leonardo             A     SN   40           30
Neto Baiano          A      9   10            3
Diego Souza         NC     10   35           25

# Exiba as informações do artilheiro do time;

In [153]:
artilheiro = df.loc[df['Gols'] == df['Gols'].max()]
artilheiro

         Posição Camisa Gols Assistências
Leonardo       A     SN   40           30

# Exiba o nome e a posição do jogador com o maior número de assistências

In [181]:
assistencias = df.loc[df['Assistências'] == df['Assistências'].max()]
print('O nome do jogador com o maior índice de assistências e a sua posição em campo:\n ', assistencias['Posição'])

O nome do jogador com o maior índice de assistências e a sua posição em campo:
  Leonardo    A
Name: Posição, dtype: object