In [43]:
import pandas as pd

path = "https://raw.githubusercontent.com/henriquepgomide/caRtola/master/data/01_raw/2020/rodada-3.csv"

df = pd.read_csv(path) #Dados CSV já são dataframe.
df.head()

,Unnamed: 0,atletas.nome,atletas.slug,atletas.apelido,atletas.foto,atletas.atleta_id,atletas.rodada_id,atletas.clube_id,atletas.posicao_id,atletas.status_id,...,DD,GS,A,SG,FD,FT,I,CV,GC,PP
0,1,Danilo Alves da Silva,danilo,Danilo,NaN,107981,3,373,zag,Nulo,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Jorge de Moura Xavier,jorginho,Jorginho,https://s.glbimg.com/es/sde/f/2020/02/27/85109...,77544,3,373,mei,Provável,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Thiago Heleno Henrique Ferreira,thiago-heleno,Thiago Heleno,https://s.glbimg.com/es/sde/f/2019/03/30/d941b...,38394,3,293,zag,Provável,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Maurício Kozlinski,mauricio-kozlinski,Maurício Kozlinski,https://s.glbimg.com/es/sde/f/2020/02/27/c1afa...,72595,3,373,gol,Nulo,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Moacir Costa da Silva,moacir,Moacir,https://s.glbimg.com/es/sde/f/2020/02/27/9937a...,60858,3,373,mei,Nulo,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Existem funções do pandas que fazem a busca de PDF, png, JPG, txt e etc. Não somente csv
UCL datasets é um bom site para buscar dados.
Mesmo que haja várias colunas, o código não vai conseguir imprimir todas.

In [44]:
#Só saberei o que significa cada coluna quando eu ver o dicionário de dados
print(df.columns)

Index(['Unnamed: 0', 'atletas.nome', 'atletas.slug', 'atletas.apelido',
       'atletas.foto', 'atletas.atleta_id', 'atletas.rodada_id',
       'atletas.clube_id', 'atletas.posicao_id', 'atletas.status_id',
       'atletas.pontos_num', 'atletas.preco_num', 'atletas.variacao_num',
       'atletas.media_num', 'atletas.jogos_num', 'atletas.clube.id.full.name',
       'DS', 'FC', 'FF', 'FS', 'G', 'PI', 'CA', 'DD', 'GS', 'A', 'SG', 'FD',
       'FT', 'I', 'CV', 'GC', 'PP'],
      dtype='object')

# Exercícios

 2. Exiba os nomes dos atletas e seus respectivos times com preço acuma de 20 cartoetas no dataset em questão

In [45]:
exe = df[['atletas.nome', 'atletas.clube.id.full.name']] 
exe

                         atletas.nome atletas.clube.id.full.name
0               Danilo Alves da Silva                Atlético-GO
1               Jorge de Moura Xavier                Atlético-GO
2     Thiago Heleno Henrique Ferreira               Athlético-PR
3                  Maurício Kozlinski                Atlético-GO
4               Moacir Costa da Silva                Atlético-GO
..                                ...                        ...
711  Marcelo de Araújo Pitaluga Filho                 Fluminense
712            Osvaldo Lourenço Filho                  Fortaleza
713        Michel Daryl Araújo Villar                 Fluminense
714         Caio Fernando de Oliveira                 Fluminense
715              Charles Rigon Mattos                      Ceará

[716 rows x 2 columns]

In [48]:
#MELHOR FILTRO

filtro = df['atletas.preco_num'] > 20
jogadores_caros = df[filtro]
jogadores_caros[['atletas.nome', 'atletas.clube.id.full.name']]

                                atletas.nome atletas.clube.id.full.name
541                            Renzo Saravia              Internacional
593  Giorgian Daniel de Arrascaeta Benedetti                   Flamengo
614             José Paolo Guerrero Gonzales              Internacional
631                Mário Sérgio Santos Costa                     Santos

3. Exiba a média dos preços dos jogadores

In [51]:
media = df['atletas.preco_num'].mean()
print(f'{media:.2f}')

4.81

4. Exiba o nome dos jogadores que mitou/mitaram na rodada(Jogadores com maior quantidade de pontos)

In [65]:
valor_maximo = df['atletas.pontos_num'].max()
filtro = df['atletas.pontos_num'] >= valor_maximo
mitaram = df[filtro]
mitaram[['atletas.nome', 'atletas.clube.id.full.name']]

                  atletas.nome atletas.clube.id.full.name
631  Mário Sérgio Santos Costa                     Santos

Ou

In [67]:
best = df[['atletas.nome', 'atletas.pontos_num', 'atletas.clube.id.full.name']]
best[best['atletas.pontos_num'] > 20]

                  atletas.nome  atletas.pontos_num atletas.clube.id.full.name
631  Mário Sérgio Santos Costa                23.0                     Santos

In [ ]:
#Buscando a quantidade de instâncias ou linhas

In [77]:
filtro = df['atletas.status_id'] == 'Provável'
escalaveis = df[filtro]
escalaveis['atletas.nome'].count()

230

In [78]:
#Ou

In [80]:
filtro = df['atletas.status_id'] == 'Provável'
df[filtro]['atletas.nome'].count()

230